:root{
    --primary-color:#000814;
    --secondary-color:#003049;
    --tertiary-color:#d62828;
    --fourth-color:#1ED400;
    --fifth-color: #E2AA19;
    --sixth-color:#ffffff;
    --seventh-color:#d9d9d9;
}

body{
    background-color: var(--primary-color);
}

.bg-primary{
    background-color: var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}

.bg-tertiary{
    background-color: var(--tertiary-color);
}

.skill{
    max-width: 370px;
    margin: 0 auto;
}

.row p{
    color: white;
    opacity: 0.75;
    margin-bottom: 8%;
    max-width: 200px;
    margin-top: 3%;
    margin-left: 3%;
}

.col-3{
    max-width: 250px;
    margin: 0 auto;
}

.col-3 img{
    max-width: 150px;
    margin: 0 auto;
}

.col-3 .card-title{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    color: white;
}

.col-3 .card-text{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}

.card{
    background-color: transparent;
    margin-bottom: 10px;
}

.card .blue:hover{
    background-color: var(--secondary-color);
    border: var(--secondary-color)  2px solid;
    padding: 20px
}

.card .blue{
    border-radius: 10px;
    border: var(--secondary-color)  2px solid;
    padding: 20px;
}

.card .white{
    width: 100%;
    border-radius: 10px;
    border: var(--sixth-color)  1px solid;
    padding: 10px 60px;

}

.card .red:hover{
    background-color: var(--secondary-color);
    border: var(--tertiary-color)  2px solid;
    padding: 20px
}

.card .red{
    border-radius: 10px;
    border: var(--tertiary-color)  2px solid;
    padding: 20px;
}

.card .yellow:hover{
    background-color: var(--secondary-color);
    border: var(--fifth-color)  2px solid;
    padding: 20px
}

.card .yellow{
    border-radius: 10px;
    border: var(--fifth-color)  2px solid;
    padding: 20px;
}

.card .green:hover{
    background-color: var(--secondary-color);
    border: var(--fourth-color)  2px solid;
    padding: 20px
}

.card .green{
    border-radius: 10px;
    border: var(--fourth-color)  2px solid;
    padding: 20px;
}

.description{
    max-width: 300px;
}

.icons img:hover{
    border-color: #003049;
}

.footer{
    padding: 5px 35px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.footer-image{
    max-width: 60px;
    background-color: var(--seventh-color);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
